.b{
    background-color:lightgray;
    font-weight:bold;
}

.y{
    background-color:yellow;
}

.r1{
    text-align:right;
}


.r{
    background-color:red;
    color:white;
}

table,th,td{
    border:1px solid black;
    border-collapse:collapse;
    font-family:arial;
}

th,td{
    width:25%;
}

table{
    width:100%;
}

th{
    text-align:left;
}

td{
    text-align:center;
}
